.category{
    text-align: center; 
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background-image: linear-gradient(
        rgba(0, 158, 226, 1),
        rgba(0, 158, 226, 1)
      );
    print-color-adjust: exact;
}

.child-category{
    text-align: center; 
    background-image: linear-gradient(
        rgba(148, 212, 240, 1),
        rgba(148, 212, 240, 1)
      );
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    print-color-adjust: exact;
}

.iv{
    background-image: linear-gradient(
        rgba(230, 237, 244, 1),
        rgba(230, 237, 244, 1)
      );
    font-size: 12px;
    max-width: 50px;
    text-align: center;
    print-color-adjust: exact;
}

.image-product{
    background-color: #fff;
    width: 150px!important;
}

.header-title{
   
    color: #fff;
    background-image: linear-gradient(
        rgba(6, 71, 151, 1),
        rgba(6, 71, 151, 1)
      );
    print-color-adjust: exact;
}



* {
  -webkit-print-color-adjust: exact; /* For Chrome and Safari */
  color-adjust: exact; /* For Firefox */
}


.print-page {
  page-break-after: always; /* Add page break after each print-page div */
}

.print-page:last-child {
  page-break-after: avoid; /* Prevent page break after the last print-page div */
}


.print-content{
  width: 26cm;
  height: 37cm;
background-image: url('/pg-promedal.jpg');
background-repeat: no-repeat;
background-position: top left;
background-size: cover;
page-break-inside: avoid; 
-webkit-print-color-adjust: exact; /* For Chrome and Safari */
color-adjust: exact; /* For Firefox */
print-color-adjust: exact;
}

